<div class="card clickable recipient position-relative border-0">
  <div class="card-body">
    <div class="d-flex justify-content-between">
        <div>
         {% if request.user in recipient.blocked_users.all %}
          <small class="text-muted"><i class="bi bi-lock"></i> No access</small>
        {% endif %}
        </div>
        {% if request.user == event.organizer %}
        <div class="dropdown">
            <a href="#" type="button" id="recipient-menu-{{recipient.id}}" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="recipient-menu-{{recipient.id}}" >
              <li><a class="dropdown-item text-danger" href="{% url 'event_recipients_remove' event.id recipient.id %}"><i class="bi bi-trash"></i> Delete Recipient</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% comment %} {% include 'components/avatar.html' with user=recipient.user %} {% endcomment %}
    
    {% if request.user in recipient.blocked_users.all %}
      <h5 class="card-title">{{recipient.name}}</h5>
    {% else %}
      <a href="{% url 'recipient' event.id recipient.id %}">
        <h5 class="card-title">{{recipient.name}}</h5>
      </a>
    {% endif %}
      
    <div class="d-flex justify-content-between">
      <span><span class="text-muted">Ideas: </span>{{recipient.ideas.count}}</span>
    </div>
    <div class="d-flex justify-content-between">
      <span><span class="text-muted">Assigned: </span>{{recipient.decider.get_full_name|default:"None"}}</span>
    </div>
  </div>
</div>