<div class="card recipient">
  {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
  <div class="card-body">
    {% include 'components/avatar.html' with user=recipient.user %}
    <h5 class="card-title">{{recipient.name}}</h5>
    <div class="d-flex justify-content-between">
      <span> Ideas:</span>
      <div>
        {{recipient.ideas.count}}
        <i class="bi bi-plus-circle-fill text-secondary"></i>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <span> Decider:</span>
    </div>
  </div>
</div>