<div class="modal fade" id="{% block id %}{% endblock id %}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block title %}Title{% endblock title %}</h5>
            </div>
            <div class="modal-body">
                {% block body %}Modal Body{% endblock body %}
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-primary" 
                    data-bs-dismiss="modal"
                >
                    {% block confirm_text %}Done{% endblock confirm_text %}
                </button>
            </div>      
        </div>
    </div>
</div>