{% extends 'app/base.html' %}

{% block content %}

<div class="card mx-auto" style="max-width: 700px">
    <div class="card-body">
        <h5 class="card-title">Change Password</h5>
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul class="m-0">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form method="post">
        {% csrf_token %}

        {{form.as_p}}

        <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>

{% endblock content %}