{% extends 'app/base.html' %}

{% block content %}
<div class="recipient">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-chat me-2"></i>Open Chat</button>
    <a href="{% url 'event' recipient.event_id %}"><- Back</a>
    <h1>Gift Ideas for {{recipient.name}}</h1>

    <a href="{% url 'idea_new' recipient.event_id recipient.id %}" class="btn btn-primary">Add Idea</a>

    {% for idea in ideas %}
        <div class="idea border my-2 p-2 d-flex align-items-center rounded">
            <div class="flex-fill">
                <a href="{% url 'idea' recipient.event_id recipient.id idea.id %}"><h5>{{idea.title}}</h5></a>
                <div>{{idea.description}}</div>
            </div>
            {% if idea.creator_id == request.user_id or recipient.event.organizer_id == request.user_id %}
                <a href="{% url 'idea_edit' recipient.event_id recipient.id idea.id %}"><i class="bi bi-pencil"></i></a>
            {% endif %}
            {% comment %} Suggester, likes, comments, select, created at  {% endcomment %}
        </div>
    {% endfor %}
</div>

{% include 'components/chat.html' %}


{% endblock content %}
    