{% extends 'app/base.html' %}
{% load gifty_filters %}

{% block content %}
<div class="recipient">
    <div class="d-flex justify-content-between">
        <a href="{% url 'event' recipient.event_id %}"><- Back</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-chat me-2"></i>Open Chat</button>
    </div>
    <h1>Gift Ideas for {{recipient.name}}</h1>

    <a href="{% url 'idea_new' recipient.event_id recipient.id %}" class="btn btn-primary"> + Add New Idea</a>

    {% for idea in ideas %}
        <div class="card clickable my-3 border-0">
            <div class="card-body">
                <div class="flex-fill">
                    <div class="text-muted small">Submitted by: {{idea.creator.get_full_name}}</div>
                    {% comment %} <a href="{% url 'idea' recipient.event_id recipient.id idea.id %}"><h5>{{idea.title}}</h5></a> {% endcomment %}
                    <h5>{{idea.title}}</h5>
                    <div>{{idea.description | urlize | url_target_blank | linebreaks}}</div>
                </div>
                {% if idea.creator == request.user %}
                    <a href="{% url 'idea_edit' recipient.event_id recipient.id idea.id %}"><i class="bi bi-pencil"></i></a>
                {% endif %}
            </div>
        </div>
        {% comment %} Suggester, likes, comments, select, created at  {% endcomment %}
    {% endfor %}
</div>

{% include 'components/chat.html' %}


{% endblock content %}
    