{% extends 'app/base.html' %}
{% load gifty_filters %}

{% block content %}
<div class="recipient">
    <div class="d-flex justify-content-between mb-2">
        <a href="{% url 'event' recipient.event_id %}"><- Back</a>
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-chat me-2"></i>Open Chat</button>
    </div>
    <div class="d-flex align-items-center">
        <h1 class="flex-fill">{{recipient.name}}</h1>
        <a href="{% url 'idea_new' recipient.event_id recipient.id %}" class="btn btn-primary flex-shrink-0"> + Add Idea</a>
    </div>


    {% for idea in ideas %}
        <div class="card my-3 border-0">
            <div class="card-body">
                <div class="text-muted small my-2">Added by {{idea.creator.get_full_name}} {{idea.created_at | timesince | upto:','}} ago</div>
                <h5>{{idea.title}}</h5>
                <div>{{idea.description | urlizetrunc:63 | url_target_blank | linebreaks}}</div>
                <div class="idea-actions d-flex justify-content-between text-muted">
                    <div>
                        <a href="{% url 'idea_like' recipient.event_id recipient.id idea.id %}">
                            {% if request.user in idea.likes.all %}
                                <i class="bi bi-hand-thumbs-up-fill p-1"></i>  
                            {% else %}
                                <i class="bi bi-hand-thumbs-up p-1"></i>
                            {% endif %}
                        </a>
                        
                        {% if idea.likes.all %}
                        <small>Liked by 
                        {% for liker in idea.likes.all %}
                            {% if forloop.last and not forloop.first %}and{% endif %}
                            {{liker.first_name}}{% if not forloop.last%},{% endif %}
                        {% endfor %}
                        </small>
                        {% endif %}
                            
                        {% comment %} <i class="bi bi-chat p-1 ms-2"></i> {% endcomment %}
                    </div>
                    <div>
                        {% if idea.creator == request.user %}
                        <a class="p-1" href="{% url 'idea_edit' recipient.event_id recipient.id idea.id %}"><i class="bi bi-pencil"></i></a>
                        <a class="p-1 link-danger" href="{% url 'idea_delete' recipient.event_id recipient.id idea.id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="bi bi-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Suggester, likes, comments, select, created at  {% endcomment %}
    {% endfor %}
</div>

{% include 'components/chat.html' %}


{% endblock content %}
    